.DS_Store
*venv*
.*venv*
../.DS_Store
*.pem
*.png
*.log
.env
*env/
etl/
*resources/
*faiss_index/

__pycache__/
*.pyc
.pytest_cache

node_modules/
.idea/

.vscode/
airflow/airflow.cfg
airflow/airflow.db
airflow/standalone_admin_password.txt
airflow/webserver_config.py
airflow/logs
logs/
airflow.cfg
standalone_admin_password.txt
webserver_config.py
airflow/airflow-webserver.pid
*.cer
*.key
